@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Varela+Round&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7,27,82,1) 0%,
    rgba(0,128,128,1) 100%
  );
  text-align:center;
}

#app-title {
  margin: 75px 0 50px 0;
  font-size: 100px;
  color: #0ccac4;
  font-family: 'Bigelow Rules', cursive;
}